@charset "UTF-8";

/*
Author: jibin
Author URI: http://www.houjibin.com/
Author mail: gagucooper@gmail.com
Version: 1.0
Last Updated: 2013-11-04
-------------------------------------------------------------- */

/*
 
1. GLOBAL STYLES
-------------------------------------------------------------------
1.0 Common
 
 
2. MAIN PAGE ELEMENTS
-------------------------------------------------------------------
2.1 Header
	2.1.1 Logo
	2.1.2 Nav
2.2 Container
	2.2.1 Modules
	2.2.2 Tabs
	2.2.3 Table
	2.2.4 Form
	2.2.5 Menu
	2.2.6 Main
*/


/* 1.0 Common
----------------------------------------------- */
.block { display: block; }
.hidden { display: none; }
.overflow { overflow: hidden; }
.inline { display: inline; }
.inline-block { display: -moz-inline-stack; display: inline-block; -webkit-text-size-adjust: none; /* for chrome zh_CN 解决间隙 */ font-size: 0; *display: inline; zoom: 1; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.at { vertical-align: top; }
.am { vertical-align: middle; }
.ab { vertical-align: bottom; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
.cf:before, .cf:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.font-white, .link-white a { color: #fff; }

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }

#fullscreen { background: #fff; }
.fullscreen-btn {
	padding-right: 10px;
}
.requestfullscreen { background: url(../images/icon-zoom.png) no-repeat left center; padding-left: 24px; }

.tips {
	text-align: center;
	color: #666;
	font-weight: bold;
	padding: 50px 0;
}

.pages a {
	margin-right: 30px;
}

.btn {
	padding: 0 15px;
	margin: 0;
	border: 1px solid;
	height: 26px;
	line-height: 26px;
	overflow: visible;
	font-weight: bold;
	background: url(../images/bg-btn.png) repeat-x;
	border-radius: 3px;
	margin: -2px 0 0 6px;
}
.btn:hover {
	color: #333;
}
.btn-blue {
	color: #fff;
	background-position: 0 0;
	border-color: #156798;
}
.btn-gray {
	color: #606060;
	background-position: 0 -26px;
	border-color: #8a8a8a;
}

.btn-wrap1 .btn {
	margin: 10px 0;
	width: 100%;
	border-radius: 0;
}
.btn-wrap2 {
	margin: 20px 0 0;
	text-align: center;
}


/*
2. MAIN PAGE ELEMENTS
------------------------------------------------------------------- */
body { 
	width: 100%;
	height: 100%;
	color: #333;
	background: #fff;
	min-width: 986px;
}

.grid-elastic {
	position: relative;
	background: #fff url(../images/bg-sidebar.png) repeat-y 0 0;
	min-height: 900px;
}
.wrapper {
	margin-left: 170px;
	overflow: auto;
}
.grid-170 {
	width: 170px;
	position: absolute;
	left: 0;
}

/* 2.1 Header
----------------------------------------------- */
.wrap-header {
	height: 114px;
	background: url(../images/bg-header.png) repeat-x top center;
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 986px;
	z-index: 10;
}

/* 2.1.1 Logo
--------------------------- */
#logo {
    width: 400px;
    height: 74px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 4px;
    left: 10px;
}

#user-bar {
	padding-right: 10px;
	float: right;
}
#user-bar li {
	float: left;
	padding: 10px 8px 11px;
}

/* 2.1.2 Nav
--------------------------- */
#nav {
	min-width: 510px;
	height: 35px;
	background: url(../images/bg-nav.png) repeat-x 0 0;
	float: right;
	clear: right;
}
#nav ul {
	padding-left: 30px;
	background: url(../images/bg-nav.png) no-repeat 0 -70px;
}
#nav ul li {	
	float: left;
	padding: 0 10px;
}
#nav ul li span {
	height: 35px;
	line-height: 42px;
	overflow: hidden;
	display: block;
	float: left;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}
#nav ul li.current span {
	color: #fff;
	padding: 0 10px;
	background: url(../images/bg-nav.png) repeat-x 0 -35px;
	box-shadow: 0 3px 3px #145cbb inset;
}
.subnav {
	display: none;
	padding-left: 10px;
}
.subnav ul li {
	float: left;
}
.subnav ul li a {
	float: left;
	height: 38px;
	line-height: 38px;
	padding: 0 7px;
	color: #fff;
	display: block;
	margin-top: 1px;
	background: url(../images/bg-nav.png) repeat-x 0 -143px;
}
.subnav ul li a:hover, .subnav ul li.active a {
	color: #fff;
	text-decoration: none;
	background: url(../images/bg-nav.png) repeat-x 0 -105px;
	box-shadow: 0 2px 3px #333 inset;
}


/* 2.2 Container
----------------------------------------------- */
#container {
	padding: 124px 8px 10px;
	min-width: 970px;
}

/* 2.2.1 Modules
--------------------------- */
.mod {
	border: 1px solid #a1b3be;
	min-height: 700px;
	border-radius: 3px;
}
.hd {
	height: 34px;
	line-height: 34px;
	background: url(../images/bg-mod.png) repeat-x;
	border-bottom: 1px solid #a6d0e7;
	padding: 0 10px;
}
.hd h2 {
	font-size: 12px;
	padding-left: 15px;
	background: url(../images/icon-triangle.png) no-repeat left center;
	float: left;
}
.bd {
	width: 100%;
}

/* 2.2.2 Tabs
--------------------------- */
.tabs {
    height: 34px;
    position: relative;
    left: 110px;
}
.tabs li {
    float: left;
    margin-left: 30px;
}
.tabs a {
	float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border: 1px solid transparent;
    position: relative;
    top: 4px;
}
.tabs a.current, .tabs a:hover {
    background: #fff;
    text-decoration: none;
    border: 1px solid #A6D0E7;
    border-bottom: 0 none;
    border-radius: 3px 3px 0 0;
}

/* 2.2.3 Table
--------------------------- */
.table, .table-2 {
	width: 100%;
	table-layout: fixed;
	background: #fff;
}
.table tr:nth-child(odd), .table-2 tr:nth-child(odd) {
	background:#f1f9fd;
}
.table tr:nth-child(even), .table-2 tr:nth-child(even) {
	background:#fff;
}
.table tr:hover, .table-2 tr:hover {
	background: #cee9f9;	
}
.table tr th {
	background: #6cb7e2;
	color: #fff;
	padding: 8px 6px;
	text-align: left;
}
.table tr td {
	padding: 6px;
}
.table tr th, .table tr td {
	border-right: 1px solid #fff;
}
.table tr th:last-child, .table tr td:last-child {
	border-right: 0 none;
}

.table-2 tr th {
	background: #3ba9e8;
	color: #333;
	text-align: left;
}
.table-2 tr th, .table-2 tr td {
	padding: 6px 8px;
}
.wrap-icon {
	width: 32px;
	height: 26px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}
.wrap-icon img {
	max-width: 100%;
}

/* 2.2.4 Form
--------------------------- */
.form {
	width: 100%;
}
.form-set th, .form-set td {
	padding: 20px 5px 0;
}
.form-set th {
	width: 40%;
}
.form-set td {
	width: 60%;
}
.form-set th {
	text-align: right;
}
.form-set label {
	margin-right: 20px;
}

.ipt-txt {
	border: 1px solid #a6d0e7;
	height: 28px;
	line-height: 28px;
	background: #fff;
	border-radius: 3px;
}
.select {
	padding: 3px;
	background: #fff;
	border: 1px solid #a6d0e7;
	border-radius: 3px;
}
.ipt-txt:focus, .select:focus {
	border: 1px solid #156798;
	box-shadow: 0 0 5px #1F96EF;
}

.search-mini p {
	padding: 10px 0 0 10px;
}

.ipt-s {
	width: 120px;
}
.ipt-l {
	width: 206px;
}

/* 2.2.5 Menu
--------------------------- */
.sidebar h3 {
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	background: #a6d0e7;
	margin-bottom: 10px;
	text-indent: 2em;
}
.sidebar .menu li {
	padding-bottom: 10px;
	text-indent: 2em;
}
.sidebar .mtime li {
	text-indent: 1.2em;
}
.sidebar .menu li a {
	color: #666;
}
.sidebar .menu li a:hover, .sidebar .menu li.mactive a {
	color: #fff;
	background: #1D82E1;
	text-decoration: none;
	border-radius: 3px;
	padding: 2px 3px;
}

/* 2.2.6 Main
--------------------------- */
.main {
	border: 1px solid #a6d0e7;
	margin: 8px;
	min-height: 900px;
	overflow: hidden;
	background: #f0f2f3;
	border-radius: 3px;
}
.main img {
	width: 100%;
}

.toolbar {
	height: 34px;
	border-right: 1px solid #a1b3be;
	margin-right: 10px;
}
.toolbar li {
	float: left;
	margin-right: 10px;
}
.icon-toolbar {
	display: block;
	width: 28px;
	height: 32px;
	overflow: hidden;
	float: left;
	background: url(../images/icon-toolbar.png) no-repeat;
	text-indent: -9999px;
}
.icon-toolbar1 {
	background-position: 0 6px;
}
.icon-toolbar2 {
	background-position: 0 -39px;
}
.icon-toolbar3 {
	background-position: 0 -84px;
}
.icon-toolbar4 {
	background-position: 0 -130px;
}

.pro {
	text-align: center;
	padding-top: 30px;
}